*
!v1/docker/
!v1/docker/Dockerfile.reference
!v1/glm53_setup/
!v1/glm53_setup/**
!v1/config/
!v1/config/runtime.lock.json
!v1/config/freedombench.lock.json
!v1/examples/
!v1/examples/server.example.toml
!v1/pyproject.toml
!LICENSE
!NOTICE
!LICENSES/
!LICENSES/**
**/__pycache__
**/*.pyc
